.dark-bg {background: white; }
.medium-bg {background: pink; }
.light-bg { background: white; }

.dark-txt {color: black; }
.medium-txt {color: black; }
.light-txt {color: black; }
.largetext {font-size: 34px;}
.smalltext {font-size: 15px}
/*A comment */


body {
  padding: 0;
  margin: 0;
  font-family: "Courier New";
  background-color: pink;
}
#p1 {text-align: center; margin-top: 0;margin-bottom: 30}
title {text-align: center; margin-bottom: 0;
}
/*can i use this code?*/
h11 {
  font-size: 50px;
  margin:0;
  font-style: italic;
  text-align: center;
}
p {
  padding-left: 20;
}
h1,h2, h3,h4,h5 {
  text-decoration: underline;
  text-align: center;
  font-style: italic;
  margin: 0
}
nav ul {
  list-style-type: none; padding-left: 0
}
nav a {text-decoration: underline;
  font-style: italic;
}

img {max-width: 100%;}

footer p {
  padding: 10px;
  text-align: center;
  font-style: italic;
}
