h1 {
  font-family: 'Playfair Display', serif;
  color: #ffd4da;
  text-align: center;
}
body {
  font-family: 'Playfair Display', serif;
}
img {
  padding-right: 500px;
}
img.resize {
  width:35px;
  height:35px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  size: 5px;
}
li {
  display: inline;
  float:right;
}
p {
  word-spacing: 30px;
}
