/*
font-family: 'Lobster', cursive;
*/
.greentext {color:green;}
.pinktext {color:pink;}
.largetext {font-size:34px;}
.smalltext {font-size:15px;}
.bluetext {color:blue}

h1 {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  color: pink;
}
a:link{
  text-decoration: none;
  color:pink;
}
a:hover {
  color:blue;
}

h2 {
  color: pink;
  text-decoration: overline;
  font-family: 'Karla', sans-serif;
}
